*{box-sizing: border-box;}

#board{
	position: relative;
	width: 400px;
	height: 300px;
	margin: 0 auto;
	border: 5px solid black;
}

#snakeHead, .body, .food{
	width: 10px;
	height: 10px;
	background-color: #f0f;
	position: absolute;
}
.food{
	background-color: #555;
}
#score{
	text-align: center;
}
#playAgain{
	display: block;
	margin: 20px auto;
}